@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

div.address {
	white-space: pre;
}

ul.members {
	li {
		clear: both;
		list-style: none;
    padding: 10px 0;
    border-top: solid 1px gray;

    &:last-child {
      border-bottom: 1px solid gray
    }

		span.name {
			font-weight: bold;
		}

		div.address {
			margin-top: 10px;
      margin-bottom: 10px;
		}
	}
}

div.pagination {
  text-align: center;
}

img.logo {
  float: left;
}